@model IEnumerable<DZ_231123_Reviews_Repos_and_Sessions_.Models.UserReviewVM>
@{
    ViewData["Title"] = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Context.Session.GetString("login") != null)
{
    <h1 style="text-align:center">Залиште свій відгук.</h1>
    <form asp-action="Index" asp-controller="Home" method="post">
        <div style="margin: 5px 10px 5px 10px">
            <input type="text" name="Login" value="@Context.Session.GetString("login")" readonly>
            <br>
            <textarea style="width:100%;resize:vertical;" name="ReviewText" placeholder="Опишіть свої враження тут..." required></textarea>
            <input type="submit" value="Опублікувати">
        </div>
    </form>
}

<h3 style="text-align:center">Відгуки користувачів</h3>
<div>


    @foreach (var item in Model)
    {
        <table class="widthfull">
            <tr>
                <th>
                    <span class="LoginLabel">@item.UserLogin</span>
                    <span class="DatetimeLabel">@item.ReviewDate.ToString()</span>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="TextReviewLabel">@item.ReviewText</div>
                </th>
            </tr>
        </table>
    }
    @if (Model.Count() == 0)
    {
        <div class="NoOneReviewLabel">Поки що немає відгуків...</div>
    }
</div>
